<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QSI MBS</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
                       @*/~\
                        ( oo|     
                        _\=/_      
        ___            /  _  \
       /() \          //|/.\|\\
     _|_____|_       ||  \_/  ||
    | | === | |      || |\ /| ||
    |_|  O  |_|      #  \_ _/  #
     ||  O  ||          | | |
     ||__*__||          | | |
    |~ \___/ ~|         []|[]
    /=\ /=\ /=\         | | |
    [_]_[_]_[_]________/_]_[_\_____________*@
</head>
<body>
    <div class="container body-content">
        <header>
            <img class="img-responsive" src="~/Content/img/qsi_logo.jpg" />
        </header>
        @RenderBody()
        <hr />
        <footer class="row">
            <p class="col-md-2">
                <a href="https://quicksolutions.com">www.Quicksolutions.com</a>
            </p>
            <p class="col-md-2">614.825.8000</p>
            <div class="col-md-2"><img src="~/Content/img/windows-server-2012.jpg" /></div>
            <div class="col-md-2"><img src="~/Content/img/microsoft_partner_logo2.png" /></div>
            <p class="col-md-4">
                440 Polaris Pkwy. Site. 500, Westerville, OH 43082
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
